--
-- PostgreSQL database dump
--

\restrict GyVfpcGK4tT9q5AzkxtZTyJn8uCytvamypDloYwJzuCxtS7c1I8Or4Sj83bpwtM

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: asignaciones; Type: TABLE; Schema: public; Owner: horarios_user
--

CREATE TABLE public.asignaciones (
    id integer NOT NULL,
    departamento_id integer,
    aula_id integer,
    modulo_id integer,
    dia_semana character varying,
    comision_id integer,
    docente_id integer,
    observaciones text,
    created_at timestamp without time zone,
    updated_at timestamp without time zone,
    updated_by character varying
);


ALTER TABLE public.asignaciones OWNER TO horarios_user;

--
-- Name: asignaciones_id_seq; Type: SEQUENCE; Schema: public; Owner: horarios_user
--

CREATE SEQUENCE public.asignaciones_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.asignaciones_id_seq OWNER TO horarios_user;

--
-- Name: asignaciones_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: horarios_user
--

ALTER SEQUENCE public.asignaciones_id_seq OWNED BY public.asignaciones.id;


--
-- Name: aula_departamento; Type: TABLE; Schema: public; Owner: horarios_user
--

CREATE TABLE public.aula_departamento (
    aula_id integer NOT NULL,
    departamento_id integer NOT NULL
);


ALTER TABLE public.aula_departamento OWNER TO horarios_user;

--
-- Name: aulas; Type: TABLE; Schema: public; Owner: horarios_user
--

CREATE TABLE public.aulas (
    id integer NOT NULL,
    departamento_id integer,
    nombre character varying,
    capacidad integer,
    activo integer,
    created_at timestamp without time zone,
    institucion_id integer
);


ALTER TABLE public.aulas OWNER TO horarios_user;

--
-- Name: aulas_id_seq; Type: SEQUENCE; Schema: public; Owner: horarios_user
--

CREATE SEQUENCE public.aulas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.aulas_id_seq OWNER TO horarios_user;

--
-- Name: aulas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: horarios_user
--

ALTER SEQUENCE public.aulas_id_seq OWNED BY public.aulas.id;


--
-- Name: calendario_categorias; Type: TABLE; Schema: public; Owner: horarios_user
--

CREATE TABLE public.calendario_categorias (
    id integer NOT NULL,
    calendario_id integer,
    nombre character varying,
    color character varying
);


ALTER TABLE public.calendario_categorias OWNER TO horarios_user;

--
-- Name: calendario_categorias_id_seq; Type: SEQUENCE; Schema: public; Owner: horarios_user
--

CREATE SEQUENCE public.calendario_categorias_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.calendario_categorias_id_seq OWNER TO horarios_user;

--
-- Name: calendario_categorias_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: horarios_user
--

ALTER SEQUENCE public.calendario_categorias_id_seq OWNED BY public.calendario_categorias.id;


--
-- Name: calendario_eventos; Type: TABLE; Schema: public; Owner: horarios_user
--

CREATE TABLE public.calendario_eventos (
    id integer NOT NULL,
    calendario_id integer,
    fecha character varying,
    categoria_id integer,
    descripcion text,
    es_privado boolean DEFAULT false,
    es_no_laborable boolean DEFAULT false,
    departamento_id integer
);


ALTER TABLE public.calendario_eventos OWNER TO horarios_user;

--
-- Name: calendario_eventos_id_seq; Type: SEQUENCE; Schema: public; Owner: horarios_user
--

CREATE SEQUENCE public.calendario_eventos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.calendario_eventos_id_seq OWNER TO horarios_user;

--
-- Name: calendario_eventos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: horarios_user
--

ALTER SEQUENCE public.calendario_eventos_id_seq OWNED BY public.calendario_eventos.id;


--
-- Name: calendarios; Type: TABLE; Schema: public; Owner: horarios_user
--

CREATE TABLE public.calendarios (
    id integer NOT NULL,
    nombre character varying,
    descripcion text,
    created_at timestamp without time zone,
    departamento_id integer
);


ALTER TABLE public.calendarios OWNER TO horarios_user;

--
-- Name: calendarios_id_seq; Type: SEQUENCE; Schema: public; Owner: horarios_user
--

CREATE SEQUENCE public.calendarios_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.calendarios_id_seq OWNER TO horarios_user;

--
-- Name: calendarios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: horarios_user
--

ALTER SEQUENCE public.calendarios_id_seq OWNED BY public.calendarios.id;


--
-- Name: cargo_asignaciones; Type: TABLE; Schema: public; Owner: horarios_user
--

CREATE TABLE public.cargo_asignaciones (
    id integer NOT NULL,
    cargo_id integer,
    docente_id integer,
    departamento_id integer,
    horas_lunes double precision,
    horas_martes double precision,
    horas_miercoles double precision,
    horas_jueves double precision,
    horas_viernes double precision,
    horas_sabado double precision,
    horas_domingo double precision,
    total_horas double precision,
    activo integer,
    created_at timestamp without time zone,
    updated_at timestamp without time zone,
    hora_inicio character varying,
    hora_fin character varying
);


ALTER TABLE public.cargo_asignaciones OWNER TO horarios_user;

--
-- Name: cargo_asignaciones_id_seq; Type: SEQUENCE; Schema: public; Owner: horarios_user
--

CREATE SEQUENCE public.cargo_asignaciones_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.cargo_asignaciones_id_seq OWNER TO horarios_user;

--
-- Name: cargo_asignaciones_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: horarios_user
--

ALTER SEQUENCE public.cargo_asignaciones_id_seq OWNED BY public.cargo_asignaciones.id;


--
-- Name: cargo_horarios; Type: TABLE; Schema: public; Owner: horarios_user
--

CREATE TABLE public.cargo_horarios (
    id integer NOT NULL,
    asignacion_id integer,
    dia_semana character varying,
    hora_inicio character varying,
    hora_fin character varying,
    horas double precision
);


ALTER TABLE public.cargo_horarios OWNER TO horarios_user;

--
-- Name: cargo_horarios_id_seq; Type: SEQUENCE; Schema: public; Owner: horarios_user
--

CREATE SEQUENCE public.cargo_horarios_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.cargo_horarios_id_seq OWNER TO horarios_user;

--
-- Name: cargo_horarios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: horarios_user
--

ALTER SEQUENCE public.cargo_horarios_id_seq OWNED BY public.cargo_horarios.id;


--
-- Name: cargos; Type: TABLE; Schema: public; Owner: horarios_user
--

CREATE TABLE public.cargos (
    id integer NOT NULL,
    nombre character varying,
    uso_multiple text,
    activo integer,
    created_at timestamp without time zone,
    updated_at timestamp without time zone,
    departamento_id integer
);


ALTER TABLE public.cargos OWNER TO horarios_user;

--
-- Name: cargos_id_seq; Type: SEQUENCE; Schema: public; Owner: horarios_user
--

CREATE SEQUENCE public.cargos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.cargos_id_seq OWNER TO horarios_user;

--
-- Name: cargos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: horarios_user
--

ALTER SEQUENCE public.cargos_id_seq OWNED BY public.cargos.id;


--
-- Name: comisiones; Type: TABLE; Schema: public; Owner: horarios_user
--

CREATE TABLE public.comisiones (
    id integer NOT NULL,
    codigo character varying,
    materia_id integer,
    turno character varying,
    activo integer,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.comisiones OWNER TO horarios_user;

--
-- Name: comisiones_id_seq; Type: SEQUENCE; Schema: public; Owner: horarios_user
--

CREATE SEQUENCE public.comisiones_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.comisiones_id_seq OWNER TO horarios_user;

--
-- Name: comisiones_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: horarios_user
--

ALTER SEQUENCE public.comisiones_id_seq OWNED BY public.comisiones.id;


--
-- Name: departamentos; Type: TABLE; Schema: public; Owner: horarios_user
--

CREATE TABLE public.departamentos (
    id integer NOT NULL,
    nombre character varying,
    codigo character varying,
    descripcion text,
    activo integer,
    created_at timestamp without time zone,
    updated_at timestamp without time zone,
    institucion_id integer
);


ALTER TABLE public.departamentos OWNER TO horarios_user;

--
-- Name: departamentos_id_seq; Type: SEQUENCE; Schema: public; Owner: horarios_user
--

CREATE SEQUENCE public.departamentos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.departamentos_id_seq OWNER TO horarios_user;

--
-- Name: departamentos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: horarios_user
--

ALTER SEQUENCE public.departamentos_id_seq OWNED BY public.departamentos.id;


--
-- Name: departamientos; Type: TABLE; Schema: public; Owner: horarios_user
--

CREATE TABLE public.departamientos (
    id integer NOT NULL,
    nombre character varying,
    codigo character varying,
    descripcion text,
    activo integer,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.departamientos OWNER TO horarios_user;

--
-- Name: departamientos_id_seq; Type: SEQUENCE; Schema: public; Owner: horarios_user
--

CREATE SEQUENCE public.departamientos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.departamientos_id_seq OWNER TO horarios_user;

--
-- Name: departamientos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: horarios_user
--

ALTER SEQUENCE public.departamientos_id_seq OWNED BY public.departamientos.id;


--
-- Name: docente_departamento; Type: TABLE; Schema: public; Owner: horarios_user
--

CREATE TABLE public.docente_departamento (
    docente_id integer NOT NULL,
    departamento_id integer NOT NULL
);


ALTER TABLE public.docente_departamento OWNER TO horarios_user;

--
-- Name: docente_institucion; Type: TABLE; Schema: public; Owner: horarios_user
--

CREATE TABLE public.docente_institucion (
    docente_id integer NOT NULL,
    institucion_id integer NOT NULL
);


ALTER TABLE public.docente_institucion OWNER TO horarios_user;

--
-- Name: docentes; Type: TABLE; Schema: public; Owner: horarios_user
--

CREATE TABLE public.docentes (
    id integer NOT NULL,
    apellido character varying,
    nombre character varying,
    email character varying,
    telefono character varying,
    activo integer,
    created_at timestamp without time zone,
    updated_at timestamp without time zone,
    institucion_id integer
);


ALTER TABLE public.docentes OWNER TO horarios_user;

--
-- Name: docentes_id_seq; Type: SEQUENCE; Schema: public; Owner: horarios_user
--

CREATE SEQUENCE public.docentes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.docentes_id_seq OWNER TO horarios_user;

--
-- Name: docentes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: horarios_user
--

ALTER SEQUENCE public.docentes_id_seq OWNED BY public.docentes.id;


--
-- Name: instituciones; Type: TABLE; Schema: public; Owner: horarios_user
--

CREATE TABLE public.instituciones (
    id integer NOT NULL,
    nombre character varying,
    codigo character varying,
    descripcion text,
    logo_url character varying,
    activo integer,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.instituciones OWNER TO horarios_user;

--
-- Name: instituciones_id_seq; Type: SEQUENCE; Schema: public; Owner: horarios_user
--

CREATE SEQUENCE public.instituciones_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.instituciones_id_seq OWNER TO horarios_user;

--
-- Name: instituciones_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: horarios_user
--

ALTER SEQUENCE public.instituciones_id_seq OWNED BY public.instituciones.id;


--
-- Name: materias; Type: TABLE; Schema: public; Owner: horarios_user
--

CREATE TABLE public.materias (
    id integer NOT NULL,
    nombre character varying,
    codigo character varying,
    departamento_id integer,
    activo integer,
    created_at timestamp without time zone,
    codigo_interno character varying,
    carga_horaria_modulos integer DEFAULT 0,
    correlativas text,
    anio integer DEFAULT 1
);


ALTER TABLE public.materias OWNER TO horarios_user;

--
-- Name: materias_id_seq; Type: SEQUENCE; Schema: public; Owner: horarios_user
--

CREATE SEQUENCE public.materias_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.materias_id_seq OWNER TO horarios_user;

--
-- Name: materias_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: horarios_user
--

ALTER SEQUENCE public.materias_id_seq OWNED BY public.materias.id;


--
-- Name: modulos; Type: TABLE; Schema: public; Owner: horarios_user
--

CREATE TABLE public.modulos (
    id integer NOT NULL,
    nombre character varying,
    etiqueta character varying,
    icono character varying
);


ALTER TABLE public.modulos OWNER TO horarios_user;

--
-- Name: modulos_horario; Type: TABLE; Schema: public; Owner: horarios_user
--

CREATE TABLE public.modulos_horario (
    id integer NOT NULL,
    numero integer,
    hora_inicio character varying,
    hora_fin character varying,
    turno character varying,
    activo integer
);


ALTER TABLE public.modulos_horario OWNER TO horarios_user;

--
-- Name: modulos_horario_id_seq; Type: SEQUENCE; Schema: public; Owner: horarios_user
--

CREATE SEQUENCE public.modulos_horario_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.modulos_horario_id_seq OWNER TO horarios_user;

--
-- Name: modulos_horario_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: horarios_user
--

ALTER SEQUENCE public.modulos_horario_id_seq OWNED BY public.modulos_horario.id;


--
-- Name: modulos_id_seq; Type: SEQUENCE; Schema: public; Owner: horarios_user
--

CREATE SEQUENCE public.modulos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.modulos_id_seq OWNER TO horarios_user;

--
-- Name: modulos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: horarios_user
--

ALTER SEQUENCE public.modulos_id_seq OWNED BY public.modulos.id;


--
-- Name: notas_adhesivas; Type: TABLE; Schema: public; Owner: horarios_user
--

CREATE TABLE public.notas_adhesivas (
    id integer NOT NULL,
    calendario_id integer,
    texto text,
    color character varying,
    created_at timestamp without time zone
);


ALTER TABLE public.notas_adhesivas OWNER TO horarios_user;

--
-- Name: notas_adhesivas_id_seq; Type: SEQUENCE; Schema: public; Owner: horarios_user
--

CREATE SEQUENCE public.notas_adhesivas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.notas_adhesivas_id_seq OWNER TO horarios_user;

--
-- Name: notas_adhesivas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: horarios_user
--

ALTER SEQUENCE public.notas_adhesivas_id_seq OWNED BY public.notas_adhesivas.id;


--
-- Name: permisos; Type: TABLE; Schema: public; Owner: horarios_user
--

CREATE TABLE public.permisos (
    id integer NOT NULL,
    rol_id integer,
    modulo_id integer,
    nivel character varying
);


ALTER TABLE public.permisos OWNER TO horarios_user;

--
-- Name: permisos_id_seq; Type: SEQUENCE; Schema: public; Owner: horarios_user
--

CREATE SEQUENCE public.permisos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.permisos_id_seq OWNER TO horarios_user;

--
-- Name: permisos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: horarios_user
--

ALTER SEQUENCE public.permisos_id_seq OWNED BY public.permisos.id;


--
-- Name: planificaciones; Type: TABLE; Schema: public; Owner: horarios_user
--

CREATE TABLE public.planificaciones (
    id integer NOT NULL,
    materia_id integer,
    docente_id integer,
    comision_id integer,
    anio_lectivo integer,
    jurisdiccion character varying,
    instituto character varying,
    carrera character varying,
    anio_cursada character varying,
    modalidad character varying,
    carga_horaria double precision,
    marco_curricular text,
    correlatividades text,
    normativa text,
    unidades text,
    fichas text,
    cronograma text,
    evaluacion text,
    bibliografia text,
    practica_profesionalizante text,
    firmas text,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.planificaciones OWNER TO horarios_user;

--
-- Name: planificaciones_id_seq; Type: SEQUENCE; Schema: public; Owner: horarios_user
--

CREATE SEQUENCE public.planificaciones_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.planificaciones_id_seq OWNER TO horarios_user;

--
-- Name: planificaciones_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: horarios_user
--

ALTER SEQUENCE public.planificaciones_id_seq OWNED BY public.planificaciones.id;


--
-- Name: recreos_excluidos; Type: TABLE; Schema: public; Owner: horarios_user
--

CREATE TABLE public.recreos_excluidos (
    id integer NOT NULL,
    departamento_id integer,
    dia_semana character varying,
    modulo_id_anterior integer
);


ALTER TABLE public.recreos_excluidos OWNER TO horarios_user;

--
-- Name: recreos_excluidos_id_seq; Type: SEQUENCE; Schema: public; Owner: horarios_user
--

CREATE SEQUENCE public.recreos_excluidos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.recreos_excluidos_id_seq OWNER TO horarios_user;

--
-- Name: recreos_excluidos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: horarios_user
--

ALTER SEQUENCE public.recreos_excluidos_id_seq OWNED BY public.recreos_excluidos.id;


--
-- Name: roles; Type: TABLE; Schema: public; Owner: horarios_user
--

CREATE TABLE public.roles (
    id integer NOT NULL,
    nombre character varying,
    descripcion text,
    institucion_id integer
);


ALTER TABLE public.roles OWNER TO horarios_user;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: horarios_user
--

CREATE SEQUENCE public.roles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.roles_id_seq OWNER TO horarios_user;

--
-- Name: roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: horarios_user
--

ALTER SEQUENCE public.roles_id_seq OWNED BY public.roles.id;


--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: horarios_user
--

CREATE TABLE public.usuarios (
    id integer NOT NULL,
    username character varying,
    password_hash character varying,
    rol character varying,
    activo integer,
    created_at timestamp without time zone,
    updated_at timestamp without time zone,
    institucion_id integer,
    rol_id integer
);


ALTER TABLE public.usuarios OWNER TO horarios_user;

--
-- Name: usuarios_id_seq; Type: SEQUENCE; Schema: public; Owner: horarios_user
--

CREATE SEQUENCE public.usuarios_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.usuarios_id_seq OWNER TO horarios_user;

--
-- Name: usuarios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: horarios_user
--

ALTER SEQUENCE public.usuarios_id_seq OWNED BY public.usuarios.id;


--
-- Name: asignaciones id; Type: DEFAULT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.asignaciones ALTER COLUMN id SET DEFAULT nextval('public.asignaciones_id_seq'::regclass);


--
-- Name: aulas id; Type: DEFAULT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.aulas ALTER COLUMN id SET DEFAULT nextval('public.aulas_id_seq'::regclass);


--
-- Name: calendario_categorias id; Type: DEFAULT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.calendario_categorias ALTER COLUMN id SET DEFAULT nextval('public.calendario_categorias_id_seq'::regclass);


--
-- Name: calendario_eventos id; Type: DEFAULT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.calendario_eventos ALTER COLUMN id SET DEFAULT nextval('public.calendario_eventos_id_seq'::regclass);


--
-- Name: calendarios id; Type: DEFAULT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.calendarios ALTER COLUMN id SET DEFAULT nextval('public.calendarios_id_seq'::regclass);


--
-- Name: cargo_asignaciones id; Type: DEFAULT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.cargo_asignaciones ALTER COLUMN id SET DEFAULT nextval('public.cargo_asignaciones_id_seq'::regclass);


--
-- Name: cargo_horarios id; Type: DEFAULT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.cargo_horarios ALTER COLUMN id SET DEFAULT nextval('public.cargo_horarios_id_seq'::regclass);


--
-- Name: cargos id; Type: DEFAULT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.cargos ALTER COLUMN id SET DEFAULT nextval('public.cargos_id_seq'::regclass);


--
-- Name: comisiones id; Type: DEFAULT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.comisiones ALTER COLUMN id SET DEFAULT nextval('public.comisiones_id_seq'::regclass);


--
-- Name: departamentos id; Type: DEFAULT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.departamentos ALTER COLUMN id SET DEFAULT nextval('public.departamentos_id_seq'::regclass);


--
-- Name: departamientos id; Type: DEFAULT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.departamientos ALTER COLUMN id SET DEFAULT nextval('public.departamientos_id_seq'::regclass);


--
-- Name: docentes id; Type: DEFAULT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.docentes ALTER COLUMN id SET DEFAULT nextval('public.docentes_id_seq'::regclass);


--
-- Name: instituciones id; Type: DEFAULT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.instituciones ALTER COLUMN id SET DEFAULT nextval('public.instituciones_id_seq'::regclass);


--
-- Name: materias id; Type: DEFAULT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.materias ALTER COLUMN id SET DEFAULT nextval('public.materias_id_seq'::regclass);


--
-- Name: modulos id; Type: DEFAULT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.modulos ALTER COLUMN id SET DEFAULT nextval('public.modulos_id_seq'::regclass);


--
-- Name: modulos_horario id; Type: DEFAULT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.modulos_horario ALTER COLUMN id SET DEFAULT nextval('public.modulos_horario_id_seq'::regclass);


--
-- Name: notas_adhesivas id; Type: DEFAULT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.notas_adhesivas ALTER COLUMN id SET DEFAULT nextval('public.notas_adhesivas_id_seq'::regclass);


--
-- Name: permisos id; Type: DEFAULT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.permisos ALTER COLUMN id SET DEFAULT nextval('public.permisos_id_seq'::regclass);


--
-- Name: planificaciones id; Type: DEFAULT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.planificaciones ALTER COLUMN id SET DEFAULT nextval('public.planificaciones_id_seq'::regclass);


--
-- Name: recreos_excluidos id; Type: DEFAULT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.recreos_excluidos ALTER COLUMN id SET DEFAULT nextval('public.recreos_excluidos_id_seq'::regclass);


--
-- Name: roles id; Type: DEFAULT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.roles ALTER COLUMN id SET DEFAULT nextval('public.roles_id_seq'::regclass);


--
-- Name: usuarios id; Type: DEFAULT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.usuarios ALTER COLUMN id SET DEFAULT nextval('public.usuarios_id_seq'::regclass);


--
-- Data for Name: asignaciones; Type: TABLE DATA; Schema: public; Owner: horarios_user
--



--
-- Data for Name: aula_departamento; Type: TABLE DATA; Schema: public; Owner: horarios_user
--

COPY public.aula_departamento (aula_id, departamento_id) FROM stdin;
1	1
2	1
3	1
9	10
10	10
11	9
12	9
13	9
14	10
15	10
\.


--
-- Data for Name: aulas; Type: TABLE DATA; Schema: public; Owner: horarios_user
--



--
-- Data for Name: calendario_categorias; Type: TABLE DATA; Schema: public; Owner: horarios_user
--

COPY public.calendario_categorias (id, calendario_id, nombre, color) FROM stdin;
1	1	Feriado	#ef4444
3	1	Ex├ímenes	#3b82f6
4	1	Evento Especial	#10b981
2	1	Asueto / Puente	#f59e0b
5	1	Trabajo Acad├®mico	#ab57ff
6	1	Receso / Vacaciones	#d2d09d
7	2	Feriado	#ef4444
8	2	Asueto	#f59e0b
9	2	Ex├ímenes	#3b82f6
10	2	Evento Especial	#10b981
11	3	Feriado	#ef4444
12	3	Asueto	#f59e0b
13	3	Ex├ímenes	#3b82f6
14	3	Evento Especial	#10b981
15	4	Feriado	#ef4444
16	4	Asueto	#f59e0b
17	4	Ex├ímenes	#3b82f6
18	4	Evento Especial	#10b981
\.


--
-- Data for Name: calendario_eventos; Type: TABLE DATA; Schema: public; Owner: horarios_user
--



--
-- Data for Name: calendarios; Type: TABLE DATA; Schema: public; Owner: horarios_user
--

COPY public.calendarios (id, nombre, descripcion, created_at, departamento_id) FROM stdin;
1	Calendario Institucional	Planificaci├│n acad├®mica general	2026-03-15 03:51:49.968472	1
2	Calendario Institucional	Planificaci├│n acad├®mica general	2026-03-31 00:18:26.282284	10
3	Calendario Institucional	Planificaci├│n acad├®mica general	2026-03-31 12:50:54.60055	8
4	Calendario Institucional	Planificaci├│n acad├®mica general	2026-03-31 12:51:27.614677	9
\.


--
-- Data for Name: cargo_asignaciones; Type: TABLE DATA; Schema: public; Owner: horarios_user
--

COPY public.cargo_asignaciones (id, cargo_id, docente_id, departamento_id, horas_lunes, horas_martes, horas_miercoles, horas_jueves, horas_viernes, horas_sabado, horas_domingo, total_horas, activo, created_at, updated_at, hora_inicio, hora_fin) FROM stdin;
1	1	1	1	0	3	3	3	3	0	0	15	1	2026-03-16 19:03:19.111701	2026-03-18 14:06:31.724983	\N	\N
2	\N	15	10	0	0	0	0	0	0	0	2	1	2026-04-11 14:34:54.50903	2026-04-11 14:34:54.509057	\N	\N
\.


--
-- Data for Name: cargo_horarios; Type: TABLE DATA; Schema: public; Owner: horarios_user
--

COPY public.cargo_horarios (id, asignacion_id, dia_semana, hora_inicio, hora_fin, horas) FROM stdin;
9	1	lunes	07:30	10:30	3
10	1	martes	07:30	10:30	3
12	1	jueves	07:30	10:30	3
13	1	viernes	07:30	10:30	3
14	2	lunes	18:30	20:30	2
11	1	mi├®rcoles	07:30	10:30	3
\.


--
-- Data for Name: cargos; Type: TABLE DATA; Schema: public; Owner: horarios_user
--

COPY public.cargos (id, nombre, uso_multiple, activo, created_at, updated_at, departamento_id) FROM stdin;
1	Attp - Ayudante de Trabajos P├ícticos		1	2026-03-16 19:02:29.796953	2026-03-16 19:02:29.796962	1
\.


--
-- Data for Name: comisiones; Type: TABLE DATA; Schema: public; Owner: horarios_user
--



--
-- Data for Name: departamentos; Type: TABLE DATA; Schema: public; Owner: horarios_user
--



--
-- Data for Name: departamientos; Type: TABLE DATA; Schema: public; Owner: horarios_user
--

COPY public.departamientos (id, nombre, codigo, descripcion, activo, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: docente_departamento; Type: TABLE DATA; Schema: public; Owner: horarios_user
--

COPY public.docente_departamento (docente_id, departamento_id) FROM stdin;
15	10
16	10
17	9
17	10
\.


--
-- Data for Name: docente_institucion; Type: TABLE DATA; Schema: public; Owner: horarios_user
--

COPY public.docente_institucion (docente_id, institucion_id) FROM stdin;
3	2
4	2
5	2
6	2
7	2
8	2
9	2
10	2
11	2
12	2
13	2
1	2
15	1
16	1
17	1
\.


--
-- Data for Name: docentes; Type: TABLE DATA; Schema: public; Owner: horarios_user
--



--
-- Data for Name: instituciones; Type: TABLE DATA; Schema: public; Owner: horarios_user
--

COPY public.instituciones (id, nombre, codigo, descripcion, logo_url, activo, created_at, updated_at) FROM stdin;
1	Instituto Superior de Educaci├│n T├®cnica N┬░ 57	DEFAULT	Instituci├│n creada autom├íticamente para agrupar datos existentes.		1	2026-03-29 16:00:28.932333	2026-03-30 01:44:45.093586
2	Superior de Comercio	SC	Instituci├│n principal		1	2026-03-29 23:52:04.42729	2026-03-30 12:10:06.972546
\.


--
-- Data for Name: materias; Type: TABLE DATA; Schema: public; Owner: horarios_user
--



--
-- Data for Name: modulos; Type: TABLE DATA; Schema: public; Owner: horarios_user
--

COPY public.modulos (id, nombre, etiqueta, icono) FROM stdin;
1	dashboard	Dashboard	­ƒôè
2	editor	Editor de Horarios	­ƒôà
3	docentes	Docentes	­ƒæÑ
4	departamentos	Departamentos	­ƒÅó
5	materias	Materias	­ƒôû
6	aulas	Aulas	­ƒÅ½
7	comisiones	Comisiones	­ƒôï
8	reportes	Reportes	­ƒôê
9	cargos	Cargos	­ƒÆ╝
10	cargo_asignaciones	Asignaci├│n de Cargos	­ƒôî
11	calendario	Calendario	­ƒùô´©Å
12	pad	Planificaci├│n (PAD)	­ƒôØ
13	permisos	Gesti├│n de Accesos	­ƒöÉ
\.


--
-- Data for Name: modulos_horario; Type: TABLE DATA; Schema: public; Owner: horarios_user
--



--
-- Data for Name: notas_adhesivas; Type: TABLE DATA; Schema: public; Owner: horarios_user
--

COPY public.notas_adhesivas (id, calendario_id, texto, color, created_at) FROM stdin;
1	1	hola mundo www.google.com.ar	#ff7eb9	2026-03-15 03:53:54.352566
\.


--
-- Data for Name: permisos; Type: TABLE DATA; Schema: public; Owner: horarios_user
--



--
-- Data for Name: planificaciones; Type: TABLE DATA; Schema: public; Owner: horarios_user
--

COPY public.planificaciones (id, materia_id, docente_id, comision_id, anio_lectivo, jurisdiccion, instituto, carrera, anio_cursada, modalidad, carga_horaria, marco_curricular, correlatividades, normativa, unidades, fichas, cronograma, evaluacion, bibliografia, practica_profesionalizante, firmas, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: recreos_excluidos; Type: TABLE DATA; Schema: public; Owner: horarios_user
--

COPY public.recreos_excluidos (id, departamento_id, dia_semana, modulo_id_anterior) FROM stdin;
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: horarios_user
--

COPY public.roles (id, nombre, descripcion, institucion_id) FROM stdin;
1	directivo	Acceso total al sistema	1
2	docente	Acceso a PAD y horarios	1
3	alumno	Acceso a consulta de horarios	1
4	administracion	Gesti├│n administrativa de la instituci├│n	1
6	directivo	\N	2
7	docente	\N	2
8	estudiante	\N	2
9	administracion	\N	2
\.


--
-- Data for Name: usuarios; Type: TABLE DATA; Schema: public; Owner: horarios_user
--

COPY public.usuarios (id, username, password_hash, rol, activo, created_at, updated_at, institucion_id, rol_id) FROM stdin;
1	admin	$pbkdf2-sha256$29000$O8e49/4fA4DQei9FSCllbA$/CMpygE85f1dUOayrqIuj61mX8CrpZXr1pf3Bm8pQeI	directivo	1	2026-03-12 12:44:23.936002	2026-04-09 12:57:13.663035	2	1
\.


--
-- Name: asignaciones_id_seq; Type: SEQUENCE SET; Schema: public; Owner: horarios_user
--

SELECT pg_catalog.setval('public.asignaciones_id_seq', 171, true);


--
-- Name: aulas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: horarios_user
--

SELECT pg_catalog.setval('public.aulas_id_seq', 15, true);


--
-- Name: calendario_categorias_id_seq; Type: SEQUENCE SET; Schema: public; Owner: horarios_user
--

SELECT pg_catalog.setval('public.calendario_categorias_id_seq', 18, true);


--
-- Name: calendario_eventos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: horarios_user
--

SELECT pg_catalog.setval('public.calendario_eventos_id_seq', 621, true);


--
-- Name: calendarios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: horarios_user
--

SELECT pg_catalog.setval('public.calendarios_id_seq', 4, true);


--
-- Name: cargo_asignaciones_id_seq; Type: SEQUENCE SET; Schema: public; Owner: horarios_user
--

SELECT pg_catalog.setval('public.cargo_asignaciones_id_seq', 2, true);


--
-- Name: cargo_horarios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: horarios_user
--

SELECT pg_catalog.setval('public.cargo_horarios_id_seq', 14, true);


--
-- Name: cargos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: horarios_user
--

SELECT pg_catalog.setval('public.cargos_id_seq', 1, true);


--
-- Name: comisiones_id_seq; Type: SEQUENCE SET; Schema: public; Owner: horarios_user
--

SELECT pg_catalog.setval('public.comisiones_id_seq', 260, true);


--
-- Name: departamentos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: horarios_user
--

SELECT pg_catalog.setval('public.departamentos_id_seq', 10, true);


--
-- Name: departamientos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: horarios_user
--

SELECT pg_catalog.setval('public.departamientos_id_seq', 1, false);


--
-- Name: docentes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: horarios_user
--

SELECT pg_catalog.setval('public.docentes_id_seq', 17, true);


--
-- Name: instituciones_id_seq; Type: SEQUENCE SET; Schema: public; Owner: horarios_user
--

SELECT pg_catalog.setval('public.instituciones_id_seq', 2, true);


--
-- Name: materias_id_seq; Type: SEQUENCE SET; Schema: public; Owner: horarios_user
--

SELECT pg_catalog.setval('public.materias_id_seq', 150, true);


--
-- Name: modulos_horario_id_seq; Type: SEQUENCE SET; Schema: public; Owner: horarios_user
--

SELECT pg_catalog.setval('public.modulos_horario_id_seq', 22, true);


--
-- Name: modulos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: horarios_user
--

SELECT pg_catalog.setval('public.modulos_id_seq', 13, true);


--
-- Name: notas_adhesivas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: horarios_user
--

SELECT pg_catalog.setval('public.notas_adhesivas_id_seq', 5, true);


--
-- Name: permisos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: horarios_user
--

SELECT pg_catalog.setval('public.permisos_id_seq', 78, true);


--
-- Name: planificaciones_id_seq; Type: SEQUENCE SET; Schema: public; Owner: horarios_user
--

SELECT pg_catalog.setval('public.planificaciones_id_seq', 1, false);


--
-- Name: recreos_excluidos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: horarios_user
--

SELECT pg_catalog.setval('public.recreos_excluidos_id_seq', 10, true);


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: horarios_user
--

SELECT pg_catalog.setval('public.roles_id_seq', 9, true);


--
-- Name: usuarios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: horarios_user
--

SELECT pg_catalog.setval('public.usuarios_id_seq', 1, true);


--
-- Name: asignaciones asignaciones_pkey; Type: CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.asignaciones
    ADD CONSTRAINT asignaciones_pkey PRIMARY KEY (id);


--
-- Name: aula_departamento aula_departamento_pkey; Type: CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.aula_departamento
    ADD CONSTRAINT aula_departamento_pkey PRIMARY KEY (aula_id, departamento_id);


--
-- Name: aulas aulas_pkey; Type: CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.aulas
    ADD CONSTRAINT aulas_pkey PRIMARY KEY (id);


--
-- Name: calendario_categorias calendario_categorias_pkey; Type: CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.calendario_categorias
    ADD CONSTRAINT calendario_categorias_pkey PRIMARY KEY (id);


--
-- Name: calendario_eventos calendario_eventos_pkey; Type: CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.calendario_eventos
    ADD CONSTRAINT calendario_eventos_pkey PRIMARY KEY (id);


--
-- Name: calendarios calendarios_pkey; Type: CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.calendarios
    ADD CONSTRAINT calendarios_pkey PRIMARY KEY (id);


--
-- Name: cargo_asignaciones cargo_asignaciones_pkey; Type: CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.cargo_asignaciones
    ADD CONSTRAINT cargo_asignaciones_pkey PRIMARY KEY (id);


--
-- Name: cargo_horarios cargo_horarios_pkey; Type: CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.cargo_horarios
    ADD CONSTRAINT cargo_horarios_pkey PRIMARY KEY (id);


--
-- Name: cargos cargos_pkey; Type: CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.cargos
    ADD CONSTRAINT cargos_pkey PRIMARY KEY (id);


--
-- Name: comisiones comisiones_pkey; Type: CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.comisiones
    ADD CONSTRAINT comisiones_pkey PRIMARY KEY (id);


--
-- Name: departamentos departamentos_pkey; Type: CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.departamentos
    ADD CONSTRAINT departamentos_pkey PRIMARY KEY (id);


--
-- Name: departamientos departamientos_pkey; Type: CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.departamientos
    ADD CONSTRAINT departamientos_pkey PRIMARY KEY (id);


--
-- Name: docente_departamento docente_departamento_pkey; Type: CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.docente_departamento
    ADD CONSTRAINT docente_departamento_pkey PRIMARY KEY (docente_id, departamento_id);


--
-- Name: docente_institucion docente_institucion_pkey; Type: CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.docente_institucion
    ADD CONSTRAINT docente_institucion_pkey PRIMARY KEY (docente_id, institucion_id);


--
-- Name: docentes docentes_pkey; Type: CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.docentes
    ADD CONSTRAINT docentes_pkey PRIMARY KEY (id);


--
-- Name: instituciones instituciones_pkey; Type: CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.instituciones
    ADD CONSTRAINT instituciones_pkey PRIMARY KEY (id);


--
-- Name: materias materias_pkey; Type: CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.materias
    ADD CONSTRAINT materias_pkey PRIMARY KEY (id);


--
-- Name: modulos_horario modulos_horario_pkey; Type: CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.modulos_horario
    ADD CONSTRAINT modulos_horario_pkey PRIMARY KEY (id);


--
-- Name: modulos modulos_pkey; Type: CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.modulos
    ADD CONSTRAINT modulos_pkey PRIMARY KEY (id);


--
-- Name: notas_adhesivas notas_adhesivas_pkey; Type: CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.notas_adhesivas
    ADD CONSTRAINT notas_adhesivas_pkey PRIMARY KEY (id);


--
-- Name: permisos permisos_pkey; Type: CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.permisos
    ADD CONSTRAINT permisos_pkey PRIMARY KEY (id);


--
-- Name: planificaciones planificaciones_pkey; Type: CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.planificaciones
    ADD CONSTRAINT planificaciones_pkey PRIMARY KEY (id);


--
-- Name: recreos_excluidos recreos_excluidos_pkey; Type: CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.recreos_excluidos
    ADD CONSTRAINT recreos_excluidos_pkey PRIMARY KEY (id);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id);


--
-- Name: ix_asignaciones_id; Type: INDEX; Schema: public; Owner: horarios_user
--

CREATE INDEX ix_asignaciones_id ON public.asignaciones USING btree (id);


--
-- Name: ix_aulas_id; Type: INDEX; Schema: public; Owner: horarios_user
--

CREATE INDEX ix_aulas_id ON public.aulas USING btree (id);


--
-- Name: ix_aulas_nombre; Type: INDEX; Schema: public; Owner: horarios_user
--

CREATE INDEX ix_aulas_nombre ON public.aulas USING btree (nombre);


--
-- Name: ix_calendario_categorias_id; Type: INDEX; Schema: public; Owner: horarios_user
--

CREATE INDEX ix_calendario_categorias_id ON public.calendario_categorias USING btree (id);


--
-- Name: ix_calendario_categorias_nombre; Type: INDEX; Schema: public; Owner: horarios_user
--

CREATE INDEX ix_calendario_categorias_nombre ON public.calendario_categorias USING btree (nombre);


--
-- Name: ix_calendario_eventos_fecha; Type: INDEX; Schema: public; Owner: horarios_user
--

CREATE INDEX ix_calendario_eventos_fecha ON public.calendario_eventos USING btree (fecha);


--
-- Name: ix_calendario_eventos_id; Type: INDEX; Schema: public; Owner: horarios_user
--

CREATE INDEX ix_calendario_eventos_id ON public.calendario_eventos USING btree (id);


--
-- Name: ix_calendarios_id; Type: INDEX; Schema: public; Owner: horarios_user
--

CREATE INDEX ix_calendarios_id ON public.calendarios USING btree (id);


--
-- Name: ix_calendarios_nombre; Type: INDEX; Schema: public; Owner: horarios_user
--

CREATE INDEX ix_calendarios_nombre ON public.calendarios USING btree (nombre);


--
-- Name: ix_cargo_asignaciones_id; Type: INDEX; Schema: public; Owner: horarios_user
--

CREATE INDEX ix_cargo_asignaciones_id ON public.cargo_asignaciones USING btree (id);


--
-- Name: ix_cargo_horarios_id; Type: INDEX; Schema: public; Owner: horarios_user
--

CREATE INDEX ix_cargo_horarios_id ON public.cargo_horarios USING btree (id);


--
-- Name: ix_cargos_id; Type: INDEX; Schema: public; Owner: horarios_user
--

CREATE INDEX ix_cargos_id ON public.cargos USING btree (id);


--
-- Name: ix_cargos_nombre; Type: INDEX; Schema: public; Owner: horarios_user
--

CREATE INDEX ix_cargos_nombre ON public.cargos USING btree (nombre);


--
-- Name: ix_comisiones_codigo; Type: INDEX; Schema: public; Owner: horarios_user
--

CREATE UNIQUE INDEX ix_comisiones_codigo ON public.comisiones USING btree (codigo);


--
-- Name: ix_comisiones_id; Type: INDEX; Schema: public; Owner: horarios_user
--

CREATE INDEX ix_comisiones_id ON public.comisiones USING btree (id);


--
-- Name: ix_departamentos_codigo; Type: INDEX; Schema: public; Owner: horarios_user
--

CREATE UNIQUE INDEX ix_departamentos_codigo ON public.departamentos USING btree (codigo);


--
-- Name: ix_departamentos_id; Type: INDEX; Schema: public; Owner: horarios_user
--

CREATE INDEX ix_departamentos_id ON public.departamentos USING btree (id);


--
-- Name: ix_departamentos_nombre; Type: INDEX; Schema: public; Owner: horarios_user
--

CREATE UNIQUE INDEX ix_departamentos_nombre ON public.departamentos USING btree (nombre);


--
-- Name: ix_departamientos_codigo; Type: INDEX; Schema: public; Owner: horarios_user
--

CREATE UNIQUE INDEX ix_departamientos_codigo ON public.departamientos USING btree (codigo);


--
-- Name: ix_departamientos_id; Type: INDEX; Schema: public; Owner: horarios_user
--

CREATE INDEX ix_departamientos_id ON public.departamientos USING btree (id);


--
-- Name: ix_departamientos_nombre; Type: INDEX; Schema: public; Owner: horarios_user
--

CREATE UNIQUE INDEX ix_departamientos_nombre ON public.departamientos USING btree (nombre);


--
-- Name: ix_docentes_apellido; Type: INDEX; Schema: public; Owner: horarios_user
--

CREATE INDEX ix_docentes_apellido ON public.docentes USING btree (apellido);


--
-- Name: ix_docentes_id; Type: INDEX; Schema: public; Owner: horarios_user
--

CREATE INDEX ix_docentes_id ON public.docentes USING btree (id);


--
-- Name: ix_docentes_nombre; Type: INDEX; Schema: public; Owner: horarios_user
--

CREATE INDEX ix_docentes_nombre ON public.docentes USING btree (nombre);


--
-- Name: ix_instituciones_codigo; Type: INDEX; Schema: public; Owner: horarios_user
--

CREATE UNIQUE INDEX ix_instituciones_codigo ON public.instituciones USING btree (codigo);


--
-- Name: ix_instituciones_id; Type: INDEX; Schema: public; Owner: horarios_user
--

CREATE INDEX ix_instituciones_id ON public.instituciones USING btree (id);


--
-- Name: ix_instituciones_nombre; Type: INDEX; Schema: public; Owner: horarios_user
--

CREATE INDEX ix_instituciones_nombre ON public.instituciones USING btree (nombre);


--
-- Name: ix_materias_codigo; Type: INDEX; Schema: public; Owner: horarios_user
--

CREATE INDEX ix_materias_codigo ON public.materias USING btree (codigo);


--
-- Name: ix_materias_id; Type: INDEX; Schema: public; Owner: horarios_user
--

CREATE INDEX ix_materias_id ON public.materias USING btree (id);


--
-- Name: ix_materias_nombre; Type: INDEX; Schema: public; Owner: horarios_user
--

CREATE INDEX ix_materias_nombre ON public.materias USING btree (nombre);


--
-- Name: ix_modulos_horario_id; Type: INDEX; Schema: public; Owner: horarios_user
--

CREATE INDEX ix_modulos_horario_id ON public.modulos_horario USING btree (id);


--
-- Name: ix_modulos_id; Type: INDEX; Schema: public; Owner: horarios_user
--

CREATE INDEX ix_modulos_id ON public.modulos USING btree (id);


--
-- Name: ix_modulos_nombre; Type: INDEX; Schema: public; Owner: horarios_user
--

CREATE UNIQUE INDEX ix_modulos_nombre ON public.modulos USING btree (nombre);


--
-- Name: ix_notas_adhesivas_id; Type: INDEX; Schema: public; Owner: horarios_user
--

CREATE INDEX ix_notas_adhesivas_id ON public.notas_adhesivas USING btree (id);


--
-- Name: ix_permisos_id; Type: INDEX; Schema: public; Owner: horarios_user
--

CREATE INDEX ix_permisos_id ON public.permisos USING btree (id);


--
-- Name: ix_planificaciones_anio_lectivo; Type: INDEX; Schema: public; Owner: horarios_user
--

CREATE INDEX ix_planificaciones_anio_lectivo ON public.planificaciones USING btree (anio_lectivo);


--
-- Name: ix_planificaciones_id; Type: INDEX; Schema: public; Owner: horarios_user
--

CREATE INDEX ix_planificaciones_id ON public.planificaciones USING btree (id);


--
-- Name: ix_recreos_excluidos_id; Type: INDEX; Schema: public; Owner: horarios_user
--

CREATE INDEX ix_recreos_excluidos_id ON public.recreos_excluidos USING btree (id);


--
-- Name: ix_roles_id; Type: INDEX; Schema: public; Owner: horarios_user
--

CREATE INDEX ix_roles_id ON public.roles USING btree (id);


--
-- Name: ix_usuarios_id; Type: INDEX; Schema: public; Owner: horarios_user
--

CREATE INDEX ix_usuarios_id ON public.usuarios USING btree (id);


--
-- Name: ix_usuarios_username; Type: INDEX; Schema: public; Owner: horarios_user
--

CREATE UNIQUE INDEX ix_usuarios_username ON public.usuarios USING btree (username);


--
-- Name: uix_rol_inst_nombre; Type: INDEX; Schema: public; Owner: horarios_user
--

CREATE UNIQUE INDEX uix_rol_inst_nombre ON public.roles USING btree (institucion_id, nombre);


--
-- Name: asignaciones asignaciones_aula_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.asignaciones
    ADD CONSTRAINT asignaciones_aula_id_fkey FOREIGN KEY (aula_id) REFERENCES public.aulas(id);


--
-- Name: asignaciones asignaciones_comision_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.asignaciones
    ADD CONSTRAINT asignaciones_comision_id_fkey FOREIGN KEY (comision_id) REFERENCES public.comisiones(id);


--
-- Name: asignaciones asignaciones_departamento_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.asignaciones
    ADD CONSTRAINT asignaciones_departamento_id_fkey FOREIGN KEY (departamento_id) REFERENCES public.departamentos(id);


--
-- Name: asignaciones asignaciones_docente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.asignaciones
    ADD CONSTRAINT asignaciones_docente_id_fkey FOREIGN KEY (docente_id) REFERENCES public.docentes(id);


--
-- Name: asignaciones asignaciones_modulo_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.asignaciones
    ADD CONSTRAINT asignaciones_modulo_id_fkey FOREIGN KEY (modulo_id) REFERENCES public.modulos_horario(id);


--
-- Name: aula_departamento aula_departamento_aula_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.aula_departamento
    ADD CONSTRAINT aula_departamento_aula_id_fkey FOREIGN KEY (aula_id) REFERENCES public.aulas(id) ON DELETE CASCADE;


--
-- Name: aula_departamento aula_departamento_departamento_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.aula_departamento
    ADD CONSTRAINT aula_departamento_departamento_id_fkey FOREIGN KEY (departamento_id) REFERENCES public.departamentos(id) ON DELETE CASCADE;


--
-- Name: aulas aulas_departamento_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.aulas
    ADD CONSTRAINT aulas_departamento_id_fkey FOREIGN KEY (departamento_id) REFERENCES public.departamentos(id);


--
-- Name: aulas aulas_institucion_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.aulas
    ADD CONSTRAINT aulas_institucion_id_fkey FOREIGN KEY (institucion_id) REFERENCES public.instituciones(id) ON DELETE CASCADE;


--
-- Name: calendario_categorias calendario_categorias_calendario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.calendario_categorias
    ADD CONSTRAINT calendario_categorias_calendario_id_fkey FOREIGN KEY (calendario_id) REFERENCES public.calendarios(id);


--
-- Name: calendario_eventos calendario_eventos_calendario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.calendario_eventos
    ADD CONSTRAINT calendario_eventos_calendario_id_fkey FOREIGN KEY (calendario_id) REFERENCES public.calendarios(id);


--
-- Name: calendario_eventos calendario_eventos_categoria_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.calendario_eventos
    ADD CONSTRAINT calendario_eventos_categoria_id_fkey FOREIGN KEY (categoria_id) REFERENCES public.calendario_categorias(id);


--
-- Name: calendario_eventos calendario_eventos_departamento_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.calendario_eventos
    ADD CONSTRAINT calendario_eventos_departamento_id_fkey FOREIGN KEY (departamento_id) REFERENCES public.departamentos(id) ON DELETE CASCADE;


--
-- Name: calendarios calendarios_departamento_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.calendarios
    ADD CONSTRAINT calendarios_departamento_id_fkey FOREIGN KEY (departamento_id) REFERENCES public.departamentos(id) ON DELETE CASCADE;


--
-- Name: cargo_asignaciones cargo_asignaciones_cargo_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.cargo_asignaciones
    ADD CONSTRAINT cargo_asignaciones_cargo_id_fkey FOREIGN KEY (cargo_id) REFERENCES public.cargos(id);


--
-- Name: cargo_asignaciones cargo_asignaciones_departamento_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.cargo_asignaciones
    ADD CONSTRAINT cargo_asignaciones_departamento_id_fkey FOREIGN KEY (departamento_id) REFERENCES public.departamentos(id);


--
-- Name: cargo_asignaciones cargo_asignaciones_docente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.cargo_asignaciones
    ADD CONSTRAINT cargo_asignaciones_docente_id_fkey FOREIGN KEY (docente_id) REFERENCES public.docentes(id);


--
-- Name: cargo_horarios cargo_horarios_asignacion_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.cargo_horarios
    ADD CONSTRAINT cargo_horarios_asignacion_id_fkey FOREIGN KEY (asignacion_id) REFERENCES public.cargo_asignaciones(id);


--
-- Name: cargos cargos_departamento_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.cargos
    ADD CONSTRAINT cargos_departamento_id_fkey FOREIGN KEY (departamento_id) REFERENCES public.departamentos(id) ON DELETE CASCADE;


--
-- Name: comisiones comisiones_materia_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.comisiones
    ADD CONSTRAINT comisiones_materia_id_fkey FOREIGN KEY (materia_id) REFERENCES public.materias(id);


--
-- Name: departamentos departamentos_institucion_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.departamentos
    ADD CONSTRAINT departamentos_institucion_id_fkey FOREIGN KEY (institucion_id) REFERENCES public.instituciones(id) ON DELETE CASCADE;


--
-- Name: docente_departamento docente_departamento_departamento_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.docente_departamento
    ADD CONSTRAINT docente_departamento_departamento_id_fkey FOREIGN KEY (departamento_id) REFERENCES public.departamentos(id) ON DELETE CASCADE;


--
-- Name: docente_departamento docente_departamento_docente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.docente_departamento
    ADD CONSTRAINT docente_departamento_docente_id_fkey FOREIGN KEY (docente_id) REFERENCES public.docentes(id) ON DELETE CASCADE;


--
-- Name: docente_institucion docente_institucion_docente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.docente_institucion
    ADD CONSTRAINT docente_institucion_docente_id_fkey FOREIGN KEY (docente_id) REFERENCES public.docentes(id) ON DELETE CASCADE;


--
-- Name: docente_institucion docente_institucion_institucion_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.docente_institucion
    ADD CONSTRAINT docente_institucion_institucion_id_fkey FOREIGN KEY (institucion_id) REFERENCES public.instituciones(id) ON DELETE CASCADE;


--
-- Name: docentes docentes_institucion_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.docentes
    ADD CONSTRAINT docentes_institucion_id_fkey FOREIGN KEY (institucion_id) REFERENCES public.instituciones(id) ON DELETE CASCADE;


--
-- Name: materias materias_departamento_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.materias
    ADD CONSTRAINT materias_departamento_id_fkey FOREIGN KEY (departamento_id) REFERENCES public.departamentos(id);


--
-- Name: notas_adhesivas notas_adhesivas_calendario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.notas_adhesivas
    ADD CONSTRAINT notas_adhesivas_calendario_id_fkey FOREIGN KEY (calendario_id) REFERENCES public.calendarios(id);


--
-- Name: permisos permisos_modulo_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.permisos
    ADD CONSTRAINT permisos_modulo_id_fkey FOREIGN KEY (modulo_id) REFERENCES public.modulos(id) ON DELETE CASCADE;


--
-- Name: permisos permisos_rol_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.permisos
    ADD CONSTRAINT permisos_rol_id_fkey FOREIGN KEY (rol_id) REFERENCES public.roles(id) ON DELETE CASCADE;


--
-- Name: planificaciones planificaciones_comision_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.planificaciones
    ADD CONSTRAINT planificaciones_comision_id_fkey FOREIGN KEY (comision_id) REFERENCES public.comisiones(id);


--
-- Name: planificaciones planificaciones_docente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.planificaciones
    ADD CONSTRAINT planificaciones_docente_id_fkey FOREIGN KEY (docente_id) REFERENCES public.docentes(id);


--
-- Name: planificaciones planificaciones_materia_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.planificaciones
    ADD CONSTRAINT planificaciones_materia_id_fkey FOREIGN KEY (materia_id) REFERENCES public.materias(id) ON DELETE CASCADE;


--
-- Name: recreos_excluidos recreos_excluidos_departamento_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.recreos_excluidos
    ADD CONSTRAINT recreos_excluidos_departamento_id_fkey FOREIGN KEY (departamento_id) REFERENCES public.departamentos(id);


--
-- Name: recreos_excluidos recreos_excluidos_modulo_id_anterior_fkey; Type: FK CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.recreos_excluidos
    ADD CONSTRAINT recreos_excluidos_modulo_id_anterior_fkey FOREIGN KEY (modulo_id_anterior) REFERENCES public.modulos_horario(id);


--
-- Name: roles roles_institucion_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_institucion_id_fkey FOREIGN KEY (institucion_id) REFERENCES public.instituciones(id);


--
-- Name: usuarios usuarios_institucion_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: horarios_user
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_institucion_id_fkey FOREIGN KEY (institucion_id) REFERENCES public.instituciones(id) ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict GyVfpcGK4tT9q5AzkxtZTyJn8uCytvamypDloYwJzuCxtS7c1I8Or4Sj83bpwtM

